/* Navigation Bar Formatting -- Moving Nav Bar in Front */
.navbar {
    z-index: 5; 
}

/* Map Formatting -- Fill page and arrnage to back */
.map {
    position: absolute;
    top: 8%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 0;
}

/* Overlay Search Formatting */
.map-overlay-search {
    position: absolute;
    font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: rgba(255, 255, 255, 0.8);
    top: 10%;
    left: 2%;
    margin: 10px 0 0 10px; /*top margin, right margin, bottom margin, left margin*/
    padding: 10px; /*around elements inside of overlay*/
    overflow: visible;
}

/* Geocoder Formatting */
.geocoder {
    position: relative;
    margin: 10px 0 10px;
}

/* Legend Formatting  */
.my-legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 5%;
    right: 2%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    z-index: 1;
    }

/* Title */
.my-legend .legend-title {
  position: relative;
  text-align: left;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 90%;
  }

  /* Scale and Labels */
.my-legend .legend-scale ul {
  position: relative;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  }

.my-legend .legend-scale ul li {
  position: relative;
  font-size: 80%;
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
  }
.my-legend ul.legend-labels li span {
  position: relative;
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  }

/* Data Sources */
.my-legend .legend-source {
  position: relative;
  font-size: 70%;
  color: #999;
  clear: both;
  }
.my-legend a {
  color: #777;
  }

